li {
  list-style: none;
  margin: 25px;
}

paper-material {
  width: 30%;
  height: 50px;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  background-color: white;
}

#close-button {
  float: right;
}
